<div [ngStyle.xl]="{ 'margin-top.px': 50 }" [ngStyle.lg]="{ 'margin-top.px': 50 }"
    [ngStyle.md]="{ 'margin-top.px': 50 }" class="app-content" fxLayout="row" fxFlex fxLayoutAlign="center start">
    <div fxFlex.gt-sm="700" fxFlex="100" fxLayoutAlign="center start">
        <div fxFlex="100" fxFlex.gt-md="800px" fxLayout="column" class="mx-24">
            <div class="card">
                <div class="card-title">
                    Card Information
                    <ul fxShow.xs="false" class="supported-cards">
                        <li>
                            <img src="./assets/cards/visa.png" alt="Visa" />
                        </li>
                        <li>
                            <img src="./assets/cards/discover.png" alt="Discover" />
                        </li>
                        <li>
                            <img src="./assets/cards/mastercard.png" alt="Master Card" />
                        </li>
                        <li>
                            <img src="assets/cards/americanexp.png" alt="American Express" />
                        </li>
                    </ul>
                </div>
                <div class="card-content">

                    <form [formGroup]="paymentForm" style="margin-bottom: 16px">
                        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="4%">
                            <mat-form-field fxFlex.gt-xs='48' class="display-inline">
                                <mat-label>Amount</mat-label>
                                <input matInput formControlName="amount" required type="number" placeholder="0.00" />
                                <mat-hint>
                                    Credit Card Fee {{ customerFee / 100 | currency : '' :
                                    'symbol' : '1.2-2' }}
                                </mat-hint>

                                <mat-error ngxErrors="amount">
                                    <div ngxError="required" when="['dirty', 'touched']"
                                        *ngIf="!paymentForm.get('amount').hasError('pattern')">
                                        Amount is required
                                    </div>
                                    <div ngxError="min" when="['dirty', 'touched']"
                                        *ngIf="paymentForm.get('amount').hasError('min')">
                                        Enter an amount higher than 0.
                                    </div>
                                </mat-error>

                            </mat-form-field>
                        </div>
                        <div class="mb-12">
                            <button class="button-useCard" (click)="$event.preventDefault(); nextAmount()" type="button"
                                mat-button mat-raised-button color="primary">
                                <app-loading *ngIf="loading">
                                </app-loading>
                                <span *ngIf="!loading">Next</span>
                            </button>
                        </div>

                    </form>
                    <div>
                        <app-card-info fxFlex="100" #formCardInfo [publicKey]="publicKey" *ngIf="showCardInfo"
                            (onLoadCard)="loadCardInfo($event)" (onSendLoading)="loading = $event"
                            (onValidForm)="isValid = $event" class="mt-12">
                        </app-card-info>
                    </div>
                    <button class="button-useCard" (click)="$event.preventDefault(); userThisCard()"
                        *ngIf="showCardInfo" [disabled]="!isValid || !cardInfo" type="button" mat-button
                        mat-raised-button color="primary">
                        <app-loading *ngIf="loading">
                        </app-loading>
                        <span *ngIf="!loading">Use This card</span>
                    </button>
                    <br />
                    <div fxLayout="column" fxLayoutAlign="flex-start" *ngIf="totalAmount">
                        <p style="margin-bottom: 0;">
                            <strong>Base Amount:</strong>
                            {{ paymentForm.controls['amount'].value | currency : '' : 'symbol' : '1.2-2' }}
                        </p>
                        <p style="margin: 0;">
                            <strong>Surcharge:</strong>
                            {{ (customerFee / 100) | currency : '' : 'symbol' : '1.2-2' }}
                        </p>

                        <p style="margin: 0;">
                            <strong>Total:</strong>
                            {{ totalAmount / 100 | currency : '' : 'symbol': '1.2-2' }}
                        </p>
                    </div>
                    <button class="button-useCard" (click)="$event.preventDefault(); submitPayment()"
                        *ngIf="totalAmount" [disabled]="!isValid || !cardInfo" type="button" mat-button
                        mat-raised-button color="primary" hidden>
                        <app-loading *ngIf="loading">
                        </app-loading>
                        <span *ngIf="!loading">Submit Payment</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
